*{
    margin: 0;
    padding: 0;
    font-family: "montserrant", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 14;
    font-weight: normal;
}

.container {
    width: 80%;

}

header{
    background: saddlebrown;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

nav a {
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a:hover{
    color: white;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color:white;

    position: top;
    top: 0;
    width: 0%;

    transition: all ease-in-out 1000ms;
}

nav a:hover::before{
    width: 100px;
}

.contact-section{
    background: url(../images/Contact_wallpaper.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;

}

.contact-section h1{
    text-align: center;
    color: whitesmoke;

}

.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    border-radius: 30px;
}

.contact-section h1{
    font-size: 60px;
}

.contact-form-text{
    display: block;
    font-size:15px;
    width: 95%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #5F4842;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 1.5s;
    border-radius: 20px;
    position: relative;
    right: 15px;
}

.contact-form-text::hover{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
    resize:none;
    height: 120px;
}

.contact-form-btn{
    float:right;
    border:0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer; 
    transition: 1s;
    font-size: 15px;
    right: 20%;
}

.contact-form-btn::hover{
    background: #2980b9
}
