*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 14;
    font-weight: normal;
}

.container {
    width: 80%;

}

header{
    background: saddlebrown;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

nav a {
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a:hover{
    color: white;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color:white;

    position: top;
    top: 0;
    width: 0%;

    transition: all ease-in-out 1000ms;
}

nav a:hover::before{
    width: 100px;
}

.background{
    position: top;
}

.intro {
    color: saddlebrown;
    position:absolute;
    right: 3%;
    top: 50%;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
}

.name{
    position: relative;
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color: sandybrown;
        margin-bottom: -150px;
    }

    30%{
        letter-spacing: 15px;
        margin-bottom: -150px;
    }

    75%{
        letter-spacing: 8px;
        margin-bottom: -150px;
    }

}
